<!--
  Generated template for the MySubscribesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Subscribes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <spinner *ngIf='!loaded'></spinner>
  <div *ngIf='loaded'>
    <ion-card *ngFor='let project of projects'>
        
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/person-flat.png">
            </ion-avatar>
            <h2>{{ project.publisher.email }}</h2>
          </ion-item>
        
          <img src="{{ uri + project.photo }}">
        
          <ion-card-content>
            <p>{{ project.title }}</p>
            <p>{{ project.description }}</p>
          </ion-card-content>
        
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="eye"></ion-icon>
                <div>{{ project.numberOfView }}</div>
              </button>
            </ion-col>
            <ion-col>
              <button (click)="unsubscribe(project)" ion-button icon-left clear small>
                <ion-icon name="thumbs-down"></ion-icon>
                <div>Unsubscribe</div>
              </button>
            </ion-col>
          </ion-row>
        
        </ion-card>
      </div>
</ion-content>
