<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="bg-change-color" padding>
  <ion-list class="bg-form-change" no-lines>
    <img class='logo' src='assets/imgs/artsuki.png' />
      <ion-input type="text" [(ngModel)]="email" name="email" placeholder="Your email please .."></ion-input>
      <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Your password .."></ion-input>
      <ion-row class='remember-class'>
          <ion-checkbox color="dark" [(ngModel)]='rememberMe' checked="false"></ion-checkbox>
          <ion-label>Remember Me</ion-label>
      </ion-row>
      <button ion-button color="dark" (click)='doLogin()' block>Login</button>

      <ion-row class="txt">
        <ion-label>OR</ion-label>
    </ion-row>

    <button ion-button color="dark" (click)='doSignup()' block>Sign up</button>    

  </ion-list>
</ion-content>
