page-login {
    .bg-change-color {
        background-color: #E1F5FE !important;
        background-image: url('../assets/imgs/balloon_flight_plant_91681_1920x1080.jpg');
        background-size: 150%;
        background-repeat: no-repeat;
    }

    .logo {
        width: 50%;
        margin-top: -40%;
        margin-left: 27%;
        opacity: 0.8;
    }

    .bg-form-change {
        margin-top: 50%;
    }
    
    .remember-class {
        display: flex;
        align-items: center;
        color: white;
    }

    h3 {
        color: white;
        text-align: center;
    }

    ion-input {
        height: 40px;
        background-color: white;
        border-color: black;
        margin-top: 3%;
    }

    .txt{
        color:white;
        text-align: center;
    }
}
