page-add-collaborator {
    .list-users {
        list-style: none;
        display: flex;
        flex-direction: column;
        border-color: #BDBDBD;
        border: 1px line;
        box-shadow: 1px 1px 1px;

    }
    .collaborator-style {
        display: block;
        height: 20px;
        font-style: oblique;
        margin-top: 2%;
        border-bottom: black;
    }
}
