<!--
  Generated template for the AddCollaboratorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Add Collaborator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
      <ion-input (keyup)='filter()' (ionFocus)="showAutocomplete()" [(ngModel)]="email">
      </ion-input>
  </ion-item>
  <ion-item>
    <ul class="list-users" *ngIf='showList'>
      <li class="collaborator-style" *ngFor="let u of users" (click)="setEmail(u.email)">{{ u.email }}</li>
    </ul>
      <button (click)="addCollaborator()" color="dark" ion-button icon-right>
          Add
          <ion-icon name="person-add"></ion-icon>
        </button>
  </ion-item>
</ion-content>
