<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="dark">

  <ion-navbar color="dark">
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form >
  <ion-list>
    
      <ion-item>
        <ion-label>Firstname</ion-label>
        <ion-input type="text" [(ngModel)]="artsuki.firstname" name="firstname"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Lastname</ion-label>
        <ion-input type="text" [(ngModel)]="artsuki.lastname" name="lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" [(ngModel)]="artsuki.email" name="email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Biography</ion-label>
        <ion-input type="text" [(ngModel)]="artsuki.biography" name="biography"></ion-input>
        
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="artsuki.password" name="password"></ion-input>
      </ion-item>
    


      <ion-list radio-group [(ngModel)]="artsuki.gender" name="gender">
          
            <ion-list-header>
              Gender
            </ion-list-header>
          
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio value="male"></ion-radio>
            </ion-item>
          
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio value="female"></ion-radio>
            </ion-item>
          
           
          
          </ion-list>

    </ion-list>
    
    <div padding>
      <button (click)="doSubmit()" block>Sign In</button>
    </div>
    </form>
</ion-content>
