<!--
  Generated template for the ListProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="dark">

  <ion-navbar color="dark">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Gallery</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-fab top right edge>
        <button color="lightDark" ion-fab mini (click)="addProject()" ><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <spinner *ngIf="loading"></spinner>
    <div *ngIf="!loading">
      <project-card *ngFor='let project of projects' [project]='project' [connectedUser]="connectedUser" (whishlist)="subscribe($event)" (showDetails)='showDetails($event)'></project-card>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
          <project-card (whishlist)="subscribe($event)" *ngFor='let project of projects' [project]='project' [connectedUser]="connectedUser" (showDetails)='showDetails($event)'></project-card>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
</ion-content>
