<!--
  Generated template for the InvitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="dark">

  <ion-navbar color="dark">
    <ion-title>Invite with sms</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <p> Invite a friend to join our artistic world :) </p>
    <p> Charges may apply </p>
    <ion-item>
        <ion-label>Phone number</ion-label>
        <ion-input type="text" [(ngModel)]="phonenumber" name="phonenumber"></ion-input>
      </ion-item>
    <button ion-button (click)="send()" color="white">Invite</button>
      
</ion-content>
