<!--
  Generated template for the ProjectCollaboratorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ project.title }}'s Collaborators</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <spinner *ngIf='!loaded'></spinner>
    <ion-list *ngIf='loaded' >
       <div *ngIf='!isEmpty()'>
          <ion-item *ngFor='let user of users'>
              <ion-avatar item-start>
                <img src="assets/imgs/person-flat.png">
              </ion-avatar>
              <h2>{{ user.username }}</h2>
              <p>{{ user.email }}</p>
              <button ion-button clear item-end>View</button>
            </ion-item>
       </div>
      </ion-list>
</ion-content>
