<!--
  Generated template for the AddProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="dark">
      <ion-title>Edit: {{ project.title }}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
        <ion-card>
            <ion-card *ngIf="(editForm.invalid && editForm.dirty)">
                <ion-card-header class="showErrors">
                  Error filling Form
                </ion-card-header>
                <ion-card-content>
                  <div *ngIf='title.invalid && title.dirty'>
                    <span class="error-show" *ngIf='title.errors.required'>►Title is required!</span>
                    <span class="error-show" *ngIf='title.errors.pattern'>►Title never start with number!</span>
                  </div>
                  <div *ngIf='description.invalid && description.dirty'>
                    <span class="error-show" *ngIf='description.errors.required'>►Description is required!</span>
                    <span class="error-show" *ngIf='description.errors.maxLength'>►Description has depassed 255 character!</span>
                  </div>
                  <div *ngIf='category.invalid && category.dirty'>
                    <span class="error-show" *ngIf='category.errors.required'>►Please choose category!</span>
                  </div>
                 <span class="error-show" *ngIf='noUpload'>►Please choose a photo!</span>
                </ion-card-content>
              </ion-card>
      <ion-card-header>
          <div class="uploadWrap" ngif="imageChosen == 0">
              <button type="button" (click)="presentActionSheet()" ion-button color="dark" block>
                <ion-icon name="cloud-upload"></ion-icon>
              </button>
          </div>
      <div class="img-preview" ngif="imageChosen == 1">
      <img alt="" imagepath="" src="">
          </div>
      </ion-card-header>
      <ion-card-content>
    <ion-list>
  
      <ion-item>
        <ion-label>Title</ion-label>
        <ion-input minLength='20' pattern='^[A-Za-z][A-Za-z0-9 ]*' name="title" type="text" required [(ngModel)]="project.title" #title="ngModel" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea maxLength='255' name="description" required [(ngModel)]="project.description" #description="ngModel" placeholder="Enter a description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select name="category" required #category="ngModel" [(ngModel)]="project.category"  >
            <ion-option *ngFor='let cat of categories' value="{{ cat.name }}">{{ cat.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <button type="submit" color="dark" [disabled]="editForm.invalid" full ion-button uploadphoto>Edit Project</button>
         </ion-item>
    </ion-list>
  </ion-card-content>
  </ion-card>
  </form>
  </ion-content>
  