page-artowrk-details {
    .labels {
        color: #424242;
        font-size: 13px;
        margin-left: 8px;
        align-self: center;
    }

    .info-project .icon-size-change {
        font-size: 20px;
        margin-top: 4%;
    }

    .info-div {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }
    .subscribe-btn {
        align-self: flex-end;
        color: #424242;
    }

    .btn-subscribe {
        display: flex;
        justify-content: flex-end; 
    }

    .info-project {
        display: flex;
        align-items: center;
    }

    .content-details {
        margin-top: 5%;
    }

    .title-project {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button-collaborators {
        align-self: center;
        margin-bottom: 5%;
    }

    .slide-title {
        color: #3E2723;        
    }
    
    //FACEBOOK
    .loginBtn {
        box-sizing: border-box;
        position: relative;
        /* width: 13em;  - apply for fixed size */
        margin: 0.2em;
        padding: 0 15px 0 46px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 16px;
        color: #FFF;
      }
      .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
      }
      .loginBtn:focus {
        outline: none;
      }
      .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
      }
      
    
      .loginBtn--facebook {
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        text-shadow: 0 -1px 0 #354C8C;
      }
      .loginBtn--facebook:before {
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
      }
      .loginBtn--facebook:hover,
      .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
      }
}
