<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{ artwork.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <spinner *ngIf="!loaded"></spinner>
  <ion-row class="content-details" *ngIf="loaded" style="border: black;border-width: 5px;border-style: double;">
    <ion-col>
      <img [src]="uri + artwork.mediaPath" class="slide-image" />
      <p [innerHTML]="artwork.description"></p>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-row class='info-div' style="height: 40px;border: black;border-width: thick;border-style: double;">
      <ion-row class='info-project'>
        <ion-icon name="brush" class='labels icon-size-change'></ion-icon>
        <h2 class='labels'>{{ artwork.category }}</h2>
      </ion-row>
      <ion-row class='info-project'>
        <ion-icon name="contact" class='labels icon-size-change'></ion-icon>
        <h2 class='labels'>{{ artwork.publisher.username }}</h2>
      </ion-row>
    </ion-row>
  </ion-card>
  <ion-row *ngIf='loaded' class="btn-subscribe" style="display: flex;justify-content: center;">
    <h5 class='labels' style="color: green;font-size: 24px;">{{ artwork.price }} $</h5>
  </ion-row>
  <button ion-button  class="loginBtn loginBtn--facebook" color="dark" (click)="regularShare(artwork)" block>Share on Facebook</button>
</ion-content>