<!--
  Generated template for the ProjectDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ project.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
    <spinner *ngIf="!loaded"></spinner>
      <ion-row class="content-details" *ngIf="loaded">
        <ion-col>
            <ion-fab top right edge *ngIf="isHisOwner()">
                <button color="dark" ion-fab mini><ion-icon name="add"></ion-icon></button>
                <ion-fab-list side='left'>
                  <button ion-fab  (click)="delete()"><ion-icon name="trash"></ion-icon></button>
                  <button ion-fab (click)="editProject()"><ion-icon name="switch"></ion-icon></button>
                  <button ion-fab (click)="addCollaborator()" ><ion-icon name="person-add"></ion-icon></button>
                </ion-fab-list>
              </ion-fab>
            <img [src]="uri + project.photo" class="slide-image"/>
            <ion-row class="title-project">
            <h2 class="slide-title" [innerHTML]="project.title"></h2>
            <button (click)="showCollaborators()" color="dark" class="button-collaborators" ion-button icon-left clear item-end>
                <ion-icon name="people"></ion-icon>
              </button>
            </ion-row>
            <p [innerHTML]="project.description"></p>
        </ion-col>
      </ion-row>
      <ion-card>
          <ion-row class='info-div'>
              <ion-row class='info-project'>
                <ion-icon name="brush" class='labels icon-size-change'></ion-icon>
                <h5 class='labels'>{{ project.category }}</h5>
              </ion-row>
              <ion-row class='info-project'>
              <ion-icon name="contact" class='labels icon-size-change'></ion-icon>
                <h5 class='labels' >{{ project.publisher.email }}</h5>
              </ion-row>
            </ion-row>
      </ion-card>
      <ion-row *ngIf='loaded' class="btn-subscribe">
        <button *ngIf='!isHisOwner()' (click)='subscribe()' ion-button clear small color="dark" icon-start class='subscribe-btn'>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-row>
</ion-content>
