page-project-details {
    .labels {
        color: #424242;
        font-size: 13px;
        margin-left: 8px;
        align-self: center;
    }

    .info-project .icon-size-change {
        font-size: 20px;
        margin-top: 4%;
    }

    .info-div {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }
    .subscribe-btn {
        align-self: flex-end;
        color: #424242;
    }

    .btn-subscribe {
        display: flex;
        justify-content: flex-end; 
    }

    .info-project {
        display: flex;
        align-items: center;
    }

    .content-details {
        margin-top: 5%;
    }

    .title-project {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button-collaborators {
        align-self: center;
        margin-bottom: 5%;
    }

    .slide-title {
        color: #3E2723;        
    }
}
