<ion-card>
    <img src = '{{ uri + project.photo }}' (click)='showDetailsAction()' />
    <ion-card-content (click)='showDetailsAction()'>
      <ion-card-title>
        {{ project.title }}
        </ion-card-title>
      <p>
        {{ project.description }}
      </p>
    </ion-card-content>
    <ion-item>
        <ion-icon name="brush"></ion-icon>
          {{ project.category }}
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-icon name="contact"></ion-icon>
          <h4>{{ project.publisher.email }}</h4>
      </ion-row>
    </ion-item>
    <ion-row class="icon-set-project" no-padding>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='star'></ion-icon>
            8
          </button>
        </ion-col>
        <ion-col [ngClass]="{'the-owner': project.publisher.id == connectedUser.id}" text-center>
          <button ion-button clear small color="danger" icon-start>
            <ion-icon name='eye'></ion-icon>
            {{ project.numberOfView }}
          </button>
        </ion-col>
        <ion-col text-right>
          <button (click)="subscribe()" *ngIf="project.publisher.id !== connectedUser.id" ion-button clear small color="danger" icon-start>
            <ion-icon name='heart'></ion-icon>
            Subscribe
          </button>
        </ion-col>
      </ion-row>
  </ion-card>