page-add-project {
    .icon-upload {
        margin-right: 2% !important;
        margin-top: -1%
    }

    .error-show {
        color: #D50000;
    }

    .showErrors {
        color: #FF5252;
    }
}
