<ion-menu type="overlay" [content]="content">
  <ion-content class="menu-globale">
      <ion-thumbnail>
          <img class="photo-profile" src="assets/imgs/person-flat.png">
        </ion-thumbnail>
    <ion-list class="menu-items">
      <ion-col>
        <button class="btn-navig" *ngFor="let p of pages" color="darkBleu" ion-button large full menuClose (click)="openPage(p)">
        {{p.title}}
      </button>
      </ion-col>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>