// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
    color: #757575;
}

.menu-globale {
    background-image: url('../assets/imgs/bg-menu.jpg');
    background-repeat: no-repeat;
    background-size: 400%;
}

.btn-navig {
    margin-top: -1.4%;
    border: none;
    opacity: 0.7;
}

.menu-items {
    margin-top: 10%
}

.photo-profile {
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;    
}
