<ion-card *ngFor='let artwork of artworks' style="border: black;border-width: thick;border-style: double;">
  <img src='{{ uri + artwork.mediaPath }}' (click)='showArtworkDetails(artwork)' />
  <ion-card-content (click)='showArtworkDetails(artwork)'>
    <ion-card-title>
      {{ artwork.title }}
    </ion-card-title>
    <p>
      {{ artwork.description }}
    </p>
  </ion-card-content>
  <ion-item>
    <ion-icon name="brush"></ion-icon>
    {{ artwork.category }}
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-icon name="contact"></ion-icon>
      <h4>{{ artwork.publisher.username }}</h4>
    </ion-row>
  </ion-item>
  <ion-row class="icon-set-artwork" no-padding>
    <ion-col>
      <button ion-button clear small color="danger" icon-start>
        <ion-icon name='star'></ion-icon>
        {{ artwork.datePub }}
      </button>
    </ion-col>
  </ion-row>
</ion-card>