artwork-card {
    ion-icon {
        color: #000000 !important;
    }
    
    ion-col {
        color: #000000 !important;
    }

    button {
        color: #000000 !important;
    }

    .icon-set-artwork {
        display: flex !important;
        justify-content: space-between !important;
    }

    .the-owner {
        margin-left: 44% !important;
    }
}
