<!--
  Generated template for the AddEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the AddProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>New Project</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #f='ngForm' (ngSubmit)="addE()">
  <ion-card>
  
   
    <ion-card-content>
    <ion-list>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input required minLength='20' pattern='^[A-Za-z][A-Za-z0-9 ]*' name='title' type="text" [(ngModel)]="title" ></ion-input>
    </ion-item>
     <ion-item>
      <ion-label>Category</ion-label>
      <ion-select required name='category' [(ngModel)]="category" #ccategory="ngModel" >
          <ion-option *ngFor='let category of categories' value="{{ category.name }}">{{ category.name }}</ion-option>
      </ion-select>   
       </ion-item>
     <ion-item>
      <ion-label>Starting Date</ion-label>
      <ion-input required minLength='20' name='dateStart' type="date" [(ngModel)]="dateStart" ></ion-input>
    </ion-item>
     <ion-item>
      <ion-label>Ending Date</ion-label>
      <ion-input required minLength='20'  name='dateEnd' type="date" [(ngModel)]="dateEnd" ></ion-input>
    </ion-item>
     <ion-item>
      <ion-label>Image</ion-label>
      <ion-input  minLength='20' name='photo' type="file" [(ngModel)]="photo" ></ion-input>
    </ion-item>
     <ion-item>
      <ion-label>Type</ion-label>
      <ion-select required name='type' [(ngModel)]="type" #ctype="ngModel" >
          <ion-option *ngFor='let type of types' value="{{ type.name }}">{{ type.name }}</ion-option>
      </ion-select>       </ion-item>
     <ion-item>
      <ion-label>Number of seats</ion-label>
      <ion-input required minLength='20' name='nbSeats' type="number" [(ngModel)]="nbSeats" ></ion-input>
    </ion-item>
     <ion-item>
      <ion-label>Place</ion-label>
      <ion-input required minLength='20' pattern='^[A-Za-z][A-Za-z0-9 ]*' name='places' type="text" [(ngModel)]="places" ></ion-input>
    </ion-item>
    
    
    <ion-item>
    <ion-label>Description</ion-label>
      <ion-textarea maxLength='255' required name='description' [(ngModel)]="description"></ion-textarea>
    </ion-item>
    
    <ion-item>
        <input type="submit" [disabled]="f.invalid" full ion-button  color="dark" value='Create' />
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-card>
</form>
</ion-content>

