<!--
  Generated template for the MyProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Projects</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <spinner *ngIf='!loaded'></spinner>
  <ion-content *ngIf='loaded'>
    <ion-content class="card-background-page">
          <ion-card *ngFor='let project of projects' (click)='presentActionSheet(project)'>
            <img src="{{ uri + project.photo }}"/>
            <div class="card-title">{{ project.title }}</div>
            <div class="card-subtitle">{{ project.category }}</div>
          </ion-card>
    </ion-content>
  </ion-content>
</ion-content>
