<!--
  Generated template for the ListProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="dark">

</ion-header>


<ion-content padding>
      <ion-fab top right edge>
        <button color="lightDark" ion-fab mini (click)="addE()" ><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <spinner *ngIf="loading"></spinner>
    <div *ngIf="!loading">
      <event-card  *ngFor='let evente of events' [evente]='evente'  [connectedUser]="connectedUser" (onDisplayEvent)='showDetails($event)' ></event-card>

    </div>
</ion-content>
