<ion-card>
   
    <ion-card-content (click)='displayEvent()'>
      <ion-card-title>
        {{ evente.title }}
        </ion-card-title>
        <ion-row >
          <ion-col>
          <p>
        {{ evente.description }}
      </p>
        </ion-col>
         <ion-col right>
           <img class="ima" src= '{{uri + evente.photo}}' alt="{{uri + evente.photo}}"/>
     
        </ion-col>
  
      
        
      </ion-row>
     
    </ion-card-content>
    <ion-item>
        <ion-icon name="bookmarks"></ion-icon>
          {{ evente.category }}
    </ion-item>

  
  </ion-card>
