page-detail-event {
.ima{
margin:auto;
}
.mid{
    margin:0 0 0 100px;
}
.droite{
    margin-left:200px;
}
.overlay {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            background-color: black;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
            opacity: 0.4;
        }
.cont{
    position: absolute;
}
        .cont:hover .overlay {
            bottom: 0px;
            height: 100%;
        }
}
