<!--
  Generated template for the ProjectDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{ evente.title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
    <spinner *ngIf="!loaded"></spinner>
      <ion-row class="content-details" *ngIf="loaded">
        <ion-col>
            <ion-fab  right edge >
                <button color="dark" mini (click)="delete(evente.id)"><ion-icon name="trash" ></ion-icon></button>
              
              </ion-fab>
              <ion-row top center >
             <h2>{{ evente.title }}</h2> 
              </ion-row>

            <ion-row> 
 
                    <img  class="ima" src="{{uri + evente.photo}}" alt="{{uri + evente.photo}}" (click)="presentConfirm(evente.id,evente.title)"/>

                </ion-row>
          <ion-row class="mid">
            <ion-col>
            <p>{{evente.description}}</p>
            <ion-icon name="bookmarks" class='labels icon-size-change'></ion-icon>
                <h5 class='labels'>{{ evente.category }}</h5> 
          </ion-col>
          <ion-col class="droite">
            From {{evente.dateStart | date}} to {{evente.dateEnd | date}}
          </ion-col>
             
          </ion-row>
          
        </ion-col>
      </ion-row>
    
          
     
 
</ion-content>
